body {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  font-family: inter, sans-serif;
  background-color: #f5f8ff;
  overflow-x: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
}
nav > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3em;
  list-style: none;
}
li,
i {
  margin-right: 0.5em;
}
.banner {
  display: flex;
  align-items: flex-end;
  gap: 3em;
}

p {
  color: gray;
}

.plants-section {
  margin-top: 10em;
}
.cards {
  line-height: 2em;
}
.card-img img {
  margin: 0 auto;
}
.card-bottom {
  text-align: center;
}
.card-btn {
  background-color: #e95a08;
  width: 17em;
  color: white;
}

.plant-lover-section {
  margin-top: 10em;
  margin-bottom: 10em;
}
.plant-lover-ul {
  color: gray;
  line-height: 2em;
  margin-left: 1em;
  margin-top: 4em;
}
.join {
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 100vw;
  height: 50vh;
  background-image: url("../assets/news-letter-bg.png");
  background-size: cover;
  background-position: center;
}

.right-footer {
  color: gray;
}
